@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button {
    @apply flex items-center justify-center;
    @apply shadow-xl bg-brown-400 font-semibold hover:bg-brown-300;
    @apply hover:text-brown-700 text-xl tracking-widest;
    @apply duration-300 transition ease-out cursor-pointer;
  }
}
